@import "tailwindcss";

@theme {
  --color-primary: #1173d4;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;

  --font-display: "Inter";

  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-background-light text-gray-900 dark:bg-background-dark dark:text-white font-display;
}

.button {
  @apply bg-primary text-white rounded-lg px-4 py-2;
}
